<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container align-items-start">
        <div class="row">
            <div class="col bg-success">one Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, voluptatem. Deleniti autem provident in beatae. Perspiciatis reiciendis at commodi distinctio expedita laboriosam eius odio culpa sint ratione? Veniam, fugit amet.
            Architecto minima repellat officia dolorem veniam! Natus ab aliquam autem, nobis eligendi minus, vero, accusamus sequi placeat accusantium laboriosam officiis ratione necessitatibus porro voluptas odio corrupti dignissimos quibusdam asperiores assumenda!</div>
            <div class="col bg-danger">two Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores consequuntur autem numquam voluptas id earum explicabo architecto porro possimus sapiente repellat iure veniam quaerat sit, eaque aliquid iusto quisquam velit!
            Ab itaque tenetur facere maxime minima autem dolore, voluptatem vel quibusdam, nesciunt possimus temporibus accusamus perspiciatis corrupti dicta blanditiis eius voluptatibus dolor eligendi assumenda neque ipsam. Illum quas consectetur quod?
            Quae cumque deleniti dolorem impedit, sequi aut incidunt inventore neque repudiandae tenetur sapiente iusto consectetur laborum facilis ipsam magni ab quod voluptates magnam sit quisquam perferendis veritatis. Deserunt, rem mollitia!</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 bg-success">one Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas blanditiis at, fugiat voluptatem ea labore maiores animi similique nam. Deserunt nulla sequi assumenda dolorum hic reiciendis eligendi maxime autem doloribus!</div>
            <div class="col-md-3 bg-danger">two</div>
            <div class="col-md-3 bg-warning">three Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur repellat minus cumque reiciendis nesciunt, deserunt amet modi facere eos ab labore eaque molestias? Repudiandae voluptatum perspiciatis, magni eius ducimus atque?</div>
        </div>
        <br>

        <div class="row align-items-end">
            <div class="col bg-success">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur?</div>
            <div class="col bg-warning">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eos magni quos dolores debitis earum magnam tempore ducimus deserunt, impedit vero at! Sed veritatis explicabo rerum quos eum, labore doloremque.
            </div>
            <div class="col bg-info align-self-start">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur?</div>
            <div class="col bg-danger">
                elit. Dicta eos magni quos dolores debitis earum magnam tempore ducimus deserunt, impedit vero at! Sed veritatis explicabo rerum quos eum, labore doloremque.
            </div>
        </div>


    </div>


    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>