<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Button Group Demo</h1>
      <div class="btn-group">
        <button class="btn btn-info">Click Me</button>
        <button class="btn btn-info">Click Me</button>
        <button class="btn btn-info">Click Me</button>
        <button class="btn btn-info">Click Me</button>
        <button class="btn btn-info">Click Me</button>
        <button class="btn btn-info">Click Me</button>
      </div>

      <br /><br /><br />

      <div class="btn-group">
        <button class="btn">Click Me</button>
        <button class="btn btn-outline-danger">Click Me</button>
        <button class="btn btn-outline-success">Click Me</button>
        <button class="btn btn-outline-info btn-sm">Click Me</button>
        <button class="btn btn-outline-warning btn-lg">Click Me</button>
        <button class="btn btn-outline-light">Click Me</button>
        <button class="btn btn-outline-link disabled">Click Me</button>
      </div>

      <br /><br /><br /><br />

      <div class="btn-group-vertical">
        <input
          type="radio"
          class="btn-check"
          name="button"
          id="btn1"
        /><label for="btn1" class="btn btn-outline-success">option 1</label>
        <input
          type="radio"
          class="btn-check"
          name="button"
          id="btn2"
        /><label for="btn2" class="btn btn-outline-success">option 2</label
        ><input
          type="radio"
          class="btn-check"
          name="button"
          id="btn3"
        /><label for="btn3" class="btn btn-outline-success">option 3</label>
      </div>

      <br /><br /><br /><br />
      <a href="" class="btn btn-dark btn-lg">google</a>
    </div>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
