<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Bootstrap Demo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus dicta quo molestiae natus praesentium provident, deserunt officia ipsum! Molestias quisquam est cum aspernatur ratione tempore natus voluptatum veniam tenetur repudiandae!
        Nihil repudiandae hic odio. Ab nemo explicabo quidem magnam a ea dolor voluptatum modi. Minima, numquam modi. Eos aspernatur aut perferendis voluptatibus corrupti suscipit quisquam magnam dolorum placeat aliquam. Fugiat.
        Corrupti, omnis porro harum corporis impedit rem doloribus unde non? Illum amet alias quae repellendus. Reprehenderit inventore ipsum dolorum nostrum aspernatur cumque, voluptate doloribus repudiandae sapiente iure voluptatum nihil alias.
        Sapiente laborum minima minus cumque sequi debitis harum optio assumenda laboriosam odit repudiandae explicabo vero, ullam voluptatum maiores aliquam esse. Dolor earum officiis laborum cupiditate deserunt explicabo nisi! Dignissimos, consequuntur!
        Maxime, consequatur, dolor nisi animi voluptas aliquid temporibus repellat cumque quas quidem eligendi accusamus natus esse similique, facilis nulla nostrum corrupti provident! Quo incidunt itaque perferendis assumenda sit qui voluptatem.</p>
    </div>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>