<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav
      class="navbar bg-warning navbar-expand-lg"
      data-bs-theme="light"
    >
      <div class="container-fluid">
        <a href="#" class="navbar-brand"
          ><img
            src="../../../HTML/Media tags/aman.png"
            alt="logo"
            width="40px"
            height="30px "
            style="padding-left: 10px"
          />
          Aman</a
        >

        <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">About us</a>

            <form class="d-flex">
              <input
                type="search"
                class="form-control me-2"
                placeholder="Search"
              />
              <button class="btn btn-outline-light" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <br><br><br>
    <div class="card" style="width: 18rem; margin-left: 20px;">
        <img src="aman.jpg" alt="image" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">Aman Shah</h5>
            <p class="card-text">Aman is a Super hero with insane powers.</p>
            <a href="#" class="btn btn-primary">Know More</a>
        </div>
    </div>


    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
