<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar bg-warning fixed-top navbar-expand-lg " data-bs-theme="light">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"
          ><img
            src="../../../HTML/Media tags/aman.png"
            alt="logo"
            width="40px"
            height="30px "
            style="padding-left: 10px"
          />
          Aman</a
        >

        <button
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">About us</a>

            <form class="d-flex">
              <input
                type="search"
                class="form-control me-2"
                placeholder="Search"
              />
              <button class="btn btn-outline-light " type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <br /><br /><br />
      <h1>Radios</h1>
      <div class="btn-group-vertical">
        <input type="radio" class="btn-check" name="button" id="btn1" /><label
          for="btn1"
          class="btn btn-outline-success"
          >option 1</label
        >
        <input type="radio" class="btn-check" name="button" id="btn2" /><label
          for="btn2"
          class="btn btn-outline-success"
          >option 2</label
        ><input type="radio" class="btn-check" name="button" id="btn3" /><label
          for="btn3"
          class="btn btn-outline-success"
          >option 3</label
        >
      </div>

      <br /><br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ipsa
      expedita neque quod nulla pariatur deleniti nemo cum quam corrupti
      dolorem, eius blanditiis tenetur nostrum. Corrupti, quas. Eum, cum
      dolores? Neque accusantium cumque quasi natus corporis! Eveniet facere
      doloribus in fuga at nobis harum corporis sint a similique. Cupiditate ea
      rem illum, beatae maxime natus quam odit doloremque voluptatum vitae!
      Aliquam alias veniam facilis dolore obcaecati. Ea, accusamus dolorum
      consectetur, repudiandae asperiores, quo neque nobis ullam nihil optio
      incidunt tempore ab? Quasi, accusantium! Veritatis eum iste perferendis
      dicta, nesciunt quaerat? Accusamus accusantium molestias nam perspiciatis,
      recusandae consectetur architecto. Repudiandae earum consequuntur
      necessitatibus et accusantium nobis praesentium non ipsa laborum a illo
      commodi cupiditate ea quod, fugit delectus quibusdam maxime quasi. Odit
      impedit officiis iusto consequatur nesciunt? Necessitatibus aspernatur
      distinctio laboriosam veritatis blanditiis asperiores dolorem ex assumenda
      adipisci quos, inventore error? Praesentium reprehenderit voluptatum
      provident molestias obcaecati, iste porro similique vel! Lorem, ipsum
      dolor sit amet consectetur adipisicing elit. Fuga dolore doloribus magnam
      nisi doloremque numquam, maxime quod mollitia minima alias error. Fuga,
      quibusdam hic voluptatem unde nesciunt vitae distinctio corporis. Officiis
      iusto a obcaecati voluptatum ipsum beatae, aut quo inventore ullam harum
      repudiandae dignissimos est, repellendus reiciendis ducimus ut voluptas
      labore. Fugit illum dolores ratione iste rem amet sunt adipisci. Maxime,
      labore nobis, inventore aliquid explicabo quasi tempore ducimus magni
      facilis harum officia non consequuntur illo quisquam reiciendis eos? Rem
      architecto omnis molestiae debitis culpa quibusdam veniam ad atque
      laudantium? Adipisci fugiat rem maiores repellat consequatur voluptates
      aut aspernatur ratione quibusdam perferendis hic provident nam sint
      laudantium, maxime numquam suscipit debitis possimus error voluptatem
      autem nobis ad velit? Modi, ipsam. Aspernatur mollitia exercitationem
      culpa. Laboriosam, nisi! Aspernatur suscipit fugiat, illo perferendis
      voluptas repellat quo quibusdam soluta itaque a neque voluptates
      reiciendis dolor? Consequuntur voluptatibus officia vero incidunt
      perferendis ea? Excepturi. Similique id saepe dolor animi repellendus
      cumque nemo nisi molestiae corporis fuga? Eaque, rerum repudiandae.
      Cupiditate ab sit obcaecati, necessitatibus unde saepe, voluptatem atque
      eligendi tenetur similique eius maxime quos? Qui recusandae neque nesciunt
      minus aliquam deleniti fugiat quis praesentium sit. Eius non soluta
      adipisci, ratione expedita qui est error fugiat eum? Laborum possimus
      officiis ad quas, nisi id. Quae! Cupiditate dolor dicta suscipit cumque
      odit sint porro omnis laboriosam quod pariatur ducimus, quas nisi
      dignissimos, illo eligendi molestias non neque deserunt quaerat distinctio
      commodi optio magnam iusto? Aut, pariatur. Laboriosam, deserunt quidem ut
      maiores saepe et error, autem tempore explicabo nobis aut quasi numquam
      magnam ex voluptatibus nesciunt fugit commodi! Quidem debitis dolorum in,
      incidunt placeat nostrum. Unde, reiciendis? Neque eum officia sint
      veritatis tempore consequatur illo delectus quos ut eaque ipsa harum velit
      eius voluptatem fuga nam et hic, ratione culpa laboriosam quasi
      voluptatibus. Odio minus sapiente facere. Tenetur minima nulla amet
      perferendis corrupti odio veritatis quam distinctio odit commodi accusamus
      debitis unde non consectetur ex rem voluptates, adipisci est earum dolore
      esse suscipit sit molestiae sequi. Error. Ipsam fuga quisquam quibusdam ab
      ex minus ullam odit accusantium maiores suscipit voluptatibus, id, facere
      quas quaerat adipisci eveniet nemo? Dolor voluptatem eaque incidunt nam
      illo placeat. Quos, ad eveniet. A, laboriosam natus esse laudantium maxime
      eum. Voluptates, in adipisci? Sit quia adipisci nihil tempora doloribus
      accusamus at quidem nesciunt laudantium mollitia libero voluptatum, ullam
      tenetur explicabo, vero consequatur magni. Corrupti, quas? Distinctio
      dolor illum animi repudiandae assumenda quis accusantium perferendis amet
      iure, ut quibusdam culpa corporis beatae nesciunt, corrupti porro odit
      pariatur velit dolorum error sint cumque? Voluptas, nobis. Nesciunt,
      delectus? Deleniti suscipit tenetur enim incidunt ut temporibus
      distinctio, ipsum corrupti? Itaque voluptatibus, dolorum reiciendis a qui
      eaque sequi repellendus rerum porro est cupiditate, sint modi ab?
      Inventore, architecto. Modi qui neque nam dicta impedit labore, beatae
      exercitationem optio excepturi eveniet veniam officia error minus eaque
      molestiae, iste voluptatum sed repudiandae illo asperiores voluptate
      maiores quisquam? Adipisci, architecto fugit.
    </div>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
