<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Success <span class="badge text-bg-success">New</span></h1>
    <h1>Notification <span class="badge text-bg-primary">New</span></h1>
    <h1>Pending <span class="badge text-bg-secondary">New</span></h1>
    <h1>Information <span class="badge text-bg-info">New</span></h1>
    <h1>Danger <span class="badge text-bg-danger">New</span></h1>
    <h6>Warning <span class="badge text-bg-warning">New</span></h6>

    <br><br>

    <button class="btn btn-primary position-relative">Followers <span class="badge text-bg-danger position-absolute top-0 start-100 translate-middle rounded-pill ">99+</span></button>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
