<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam dolorem nulla et unde. Quia aperiam totam veniam repudiandae dignissimos officiis vel atque, consequatur quisquam eveniet laboriosam corporis! Numquam, suscipit.
        Modi, laboriosam repellat. Architecto animi vero nemo eligendi? Vitae animi perspiciatis expedita! Atque cum quidem accusantium alias reprehenderit sit, numquam rem enim magnam nostrum molestias aliquid possimus beatae, dignissimos iusto!
        Laboriosam illum mollitia nobis ullam libero, voluptas perferendis, voluptate tempora itaque modi voluptatibus reiciendis rem asperiores necessitatibus, ipsam atque sequi aliquid corporis veniam rerum pariatur quam dolor culpa ab! In.
    </div>
    <button class="btn">Click Me</button>
    <button class="btn btn-danger">Click Me</button>
    <button class="btn btn-success">Click Me</button>
    <button class="btn btn-info">Click Me</button>
    <button class="btn btn-warning">Click Me</button>
    <button class="btn btn-light">Click Me</button>
    <button class="btn btn-link">Click Me</button>


    <br><br><br>

    <button class="btn">Click Me</button>
    <button class="btn btn-outline-danger">Click Me</button>
    <button class="btn btn-outline-success">Click Me</button>
    <button class="btn btn-outline-info btn-sm">Click Me</button>
    <button class="btn btn-outline-warning btn-lg">Click Me</button>
    <button class="btn btn-outline-light">Click Me</button>
    <button class="btn btn-outline-link disabled">Click Me</button>


    <br><br><br><br>

    <a href="" class="btn btn-dark btn-lg">google</a>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>