<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-2 bg-success">one</div>
            <div class="col-5 bg-danger">two</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 bg-success">one</div>
            <div class="col-md-3 bg-danger">two</div>
            <div class="col-md-3 bg-warning">three</div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6 col-xl-4 bg-success">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur?</div>
            <div class="col-md-6 col-xl-4 bg-warning">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur?</div>
            <div class="col-md-6 col-xl-4 bg-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga id blanditiis, non ex beatae voluptas consequatur necessitatibus eius illo architecto facilis quaerat vero distinctio voluptate repellendus ratione velit explicabo pariatur?</div>
        </div>


    </div>


    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>