<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Form Demo</h2>
      <form>
        <div class="mb-3">
          <label for="em" class="form-label">Email</label>
          <input
            type="text"
            placeholder="example@gmail.com"
            id="em"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input
            type="password"
            placeholder="********"
            id="pass"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            placeholder="Example Kumar"
            class="form-control-lg"
          />
        </div>
        <div class="mb-3">
            <label for="city" class="form-label">City</label>
            <select class=form-select id="city">
            <option selected>Select your City</option>
            <option value="1">Muzaffarpur</option>
            <option value="2">Mumbai</option>
            <option value="3">Delhi</option>
            <option value="4">Banglore</option>
        </select>
        </div>
        
      </form>
    </div>

    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
