<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2>Form Demo</h2>
      <form>
        <div class="row">
          <div class="mb-3 col-md-6">
            <label for="em" class="form-label">Email</label>
            <input
              type="text"
              placeholder="example@gmail.com"
              id="em"
              class="form-control"
            />
          </div>

          <div class="mb-3 col-md-6">
            <label for="pass" class="form-label">Password</label>
            <input
              type="password"
              placeholder="********"
              id="pass"
              class="form-control"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            id="name"
            placeholder="Example Kumar"
            class="form-control-lg"
          />
        </div>

        <div class="mb-3 form-check">
          <label for="agree" class="form-check-label">Agree</label>
          <input type="checkbox" class="form-check-input" id="agree" />
        </div>

        <div class="mb-3 form-radio">
          <label for="agreer" class="form-radio-label">Agree</label>
          <input type="radio" class="form-radio-input" id="agreer" />
        </div>

        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="switchCheckDefault"
          />
          <label class="form-check-label" for="switchCheckDefault"
            >Default switch checkbox input</label
          >
        </div>
      </form>
    </div>

    <script src="../../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
